{% load i18n %}

<p>{% trans "Здравствуйте," %}</p>

<p>{% blocktrans %}Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на сайте {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Пожалуйста, перейдите по следующей ссылке, чтобы установить новый пароль:" %}</p>

<a href="{{ protocol }}://{{ domain }}{% url 'core:password_reset_confirm' uidb64=uid token=token %}">
    {{ protocol }}://{{ domain }}{% url 'core:password_reset_confirm' uidb64=uid token=token %}
</a>

<p>{% trans "Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте это письмо." %}</p>

<p>{% trans "Спасибо," %}<br>
{% trans "Команда" %} {{ site_name }}</p>
